<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    {{!-- <link rel="stylesheet" href="/style.css"> --}}
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/main-text.css">
    <title>Wanderlust</title>
</head>
<body>
    {{!-- <header>
        <p class="font-text">wanderlust</p>

        <ul class="nav_links">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
        </ul>

        <div class="nav-icon">
            <a href="#"><i class='bx bx-search-alt-2'></i></a>
            <a href="/profile"><i class='bx bxs-user-circle' ></i></a>
        </div>
    </header> --}}

    <div class="navbar">
        <div class="nav-left">
            <ul>
                <li><p class="font-text">wanderlust</p></li>
                <li><a href="/">Home</a></li>
                <li><a href="#home">Hotels</a></li>
                <li><a href="/main">Travel Guides</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Signup</a></li>
            </ul>
        </div>
    </div>

    <div class="main-text">
        <div class="main-text1">
            You'll never travel without our trip planner again
        </div>
        <div class="main-text2">
            Build, organize, and map your itineraries in a free travel app designed for vacations & road trips
        </div>
        <div class="main-text3">
            <a href="/profile">Start Planning</a>
        </div>
    </div>

    <div class="section1">
        <div class="section1-image">
            
        </div>
        <div class="section1-text">
            <div class="section1-text-main">
                Your itinerary and your map in one view 
            </div>
            <div class="section1-text-sub">
                No more switching between different 
                apps, tabs, and tools to keep track of 
                your travel plans.
            </div>
        </div>
    </div>

    <div class="section2-text">
        What travelers are raving about
    </div>

    <div class="features-container">
        <div class="features-grid-item">
            <div class="features-img"><img src="/images/main/MainFeatureTiles__addPlaces.png"></div>
            <div class="features-main-text">Add places from guides with 1 click</div>
            <div class="features-sub-text">We crawled the web so you don't have to. Easily save mentioned places.</div>
        </div>
        <div class="features-grid-item">
            <div class="features-img"><img src="/images/main/MainFeatureTiles__collaborate.png"></div>
            <div class="features-main-text">Collaborate with friends in real time</div>
            <div class="features-sub-text">Plan along with your friends with live syncing and collaborative editing.</div>
        </div>
        <div class="features-grid-item">
            <div class="features-img"><img src="/images/main/MainFeatureTiles__export.png"></div>
            <div class="features-main-text">Export your places to Google Maps</div>
            <div class="features-sub-text">Synced automatically, for when plans change.</div>
        </div>
        <div class="features-grid-item">
            <div class="features-img"><img src="/images/main/MainFeatureTiles__import.png"></div>
            <div class="features-main-text">Import flight and hotel reservations</div>
            <div class="features-sub-text">Connect or forward your emails to get them magically added into your trip plan.</div>
        </div>
        <div class="features-grid-item">
            <div class="features-img"><img src="/images/main/MainFeatureTiles__optimizeRoute.png"></div>
            <div class="features-main-text">Optimize your route</div>
            <div class="features-sub-text">Perfect for road trips and saving $$$ on gas! Get the best route auto-rearranged.</div>
        </div>
        <div class="features-grid-item">
            <div class="features-img"><img src="/images/main/MainFeatureTiles__recommendations.png"></div>
            <div class="features-main-text">Get personalized suggestions</div>
            <div class="features-sub-text">Find the best places to visit with smart recommendations based on your itinerary.</div>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    
</body>
</html>